<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMA Taller Chapa y Pintura</title>
    <!--FAVICON LOGOTIPO Contacto-->
    <link rel="icon" href="../favicon.png" type="image/x-icon">
    <!--CSS Contacto-->
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <!--Cabecera Contacto-->
    <header>
        <img class="logo" src="../assets/images/logotipo/logo.png" alt="logo">
        <h1>VMA Taller Chapa y Pintura</h1>
    
    </header>
    <!--Barra de Navegacion Contacto-->
    <nav>
        <ul class="navigation">
            <li><a class="enlace" href="../index.html">Inicio</a></li>
            <li><a class="enlace" href="../views/productos.html">Productos</a></li>
            <li><a class="enlace" href="../views/presupuesto.html">Presupuesto</a></li>
            <li><a class="enlace active" href="#">Contacto</a></li>
        </ul>
        <form>
            <input type="search" placeholder="buscar">
            <input class="negro" type="submit" value="Buscar">
        </form>
    </nav>
    <!--Principal Contacto-->
    <main>
    
        <!--Seccion Contacto-->
       <section class="contacto">
        <h2>Nuestra Localizacion</h2>
        <!--Mapa Localizacion Contacto-->
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2941.6407694020045!2d1.5094178999999999!3d42.4991892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a5f4d9b12f51a9%3A0xb89a8d757fd764a7!2sPlanxisteria%20BM%20Andorra!5e0!3m2!1sca!2sad!4v1711535868421!5m2!1sca!2sad"
             width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
        </div>
       </section>
       <!--Barra lateral Contacto-->
       <aside>
        <h2>Coche de Substituicion</h2>
           <img class="foto" src="../assets/images/taller/mercedes.jpeg" alt="mercedes">
           <p>Mientras reparemos su coche, tienes derecho a un coche de substituicion</p>
          
           <h3>Nuestros horarios</h3>
           <p>Lunes a Viernes de 9:00h hasta 19:00h</p>      
       
          <img class="foto" src="../assets/images/taller/bmw.jpeg" alt="bmw">
          <img class="foto" src="../assets/images/taller/ford.jpeg" alt="ford">
          <img class="foto" src="../assets/images/taller/jaguar.jpeg" alt="jaguar">
          <img class="foto" src="../assets/images/taller/audi.jpeg" alt="audi">
         
   
</aside>  
    
       
    </main>
    <!--Pie de Pagina Rss Contacto-->
    
    <footer>
        <img class="logo" src="../assets/images/logotipo/logo.png" alt="logo">         
        <div>
            <h2>Nuestra direccion</h2>  
            <p>Avinguda Joan,0 Encamp AD200 </p>
            <p>Tel:5555-5555</p>                 
            <h3>Nuestras Redes sociales</h3>
            <a href="https://www.instagram.com/">
            <img class="rss" src="../assets/images/logosrss/instagram.png" alt="instagram"></a>   
            <a href="https://es-la.facebook.com/">
            <img class="rss" src="../assets/images/logosrss/facebook.png" alt="facebook"></a>   
            <p>Aviso Legal</p>         
       
        </div> 
        <img class="logo" src="../assets/images/logotipo/logo.png" alt="logo">                   
    </footer>
</body>
</html>