<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMA Taller Chapa y Pintura</title>
    <!--FAVICON LOGOTIPO Productos-->
    <link rel="icon" href="../favicon.png" type="image/x-icon">
    <!--CSS Productos-->
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
   <!--Cabecera Productos--> 
    <header>
        <img class="logo" src="../assets/images/logotipo/logo.png" alt="logo">
        <h1>VMA Taller Chapa y Pintura</h1>   
    </header>
     <!--Barra de Navegacion Productos-->
     <nav>
        <ul class="navigation">
            <li><a class="enlace" href="../index.html">Inicio</a></li>
            <li><a class="enlace active" href="#">Productos</a></li>
            <li><a class="enlace" href="../views/presupuesto.html">Presupuesto</a></li>
            <li><a class="enlace" href="../views/contacto.html">Contacto</a></li>
        </ul>
        <form>
            <input type="search" placeholder="buscar">
            <input class="negro" type="submit" value="Buscar">
        </form>
    </nav>
    <!--Principal Productos-->
    <main>    
    <!--Secccion Galeria de Imagenes Trabajos Realizados (Productos)-->
       <section class="trabajos">
        <h2>Reparaciones</h2>       
        <div class="trabajos1">
            <p>Estos son algunos de nuestros trabajos realizados</p>
            <img class="coche" src="../assets/images/reparaciones/accidente1.jpg" alt="accidente1">
            <img class="coche" src="../assets/images/reparaciones/accidente2.jpg" alt="accidente2">
            <img class="coche" src="../assets/images/reparaciones/reparacion1.jpg" alt="reparacion1">
            <img class="coche" src="../assets/images/reparaciones/reparacion2.jpg" alt="reparacion2">
            <img class="coche" src="../assets/images/reparaciones/reparacion3.jpg" alt="reparacion3">
            <img class="coche" src="../assets/images/reparaciones/reparacion4.jpg" alt="reparacion4">
            <img class="coche" src="../assets/images/reparaciones/reparacion5.jpg" alt="reparacion5">
            <img class="coche" src="../assets/images/reparaciones/reparacion6.jpg" alt="reparacion6">
            <img class="coche" src="../assets/images/reparaciones/coche1.jpg" alt="coche1">
            <img class="coche" src="../assets/images/reparaciones/reparacion7.jpg" alt="reparacion3">
            <img class="coche" src="../assets/images/reparaciones/reparacion8.jpg" alt="reparacion8">
            <img class="coche" src="../assets/images/reparaciones/reparacion9.jpg" alt="reparacion9">
            <p>Siempre ultilizando productos de qualidad</p>
            <img class="coche" src="../assets/images/chapapintura/marcapintura.png" alt="marcapintura">
            <img class="coche" src="../assets/images/taller/herramientas.jpeg" alt="herramientas">
        </div>
       </section> 
       <!--Barra lateral Productos-->
       <aside>
        <h2>Coche de Substituicion</h2>
           <img class="foto" src="../assets/images/taller/mercedes.jpeg" alt="mercedes">
           <p>Mientras reparemos su coche, tienes derecho a un coche de substituicion</p>          
           <h3>Nuestros horarios</h3>
           <p>Lunes a Viernes de 9:00h hasta 19:00h</p>      
           <img class="foto" src="../assets/images/taller/bmw.jpeg" alt="bmw">
           <img class="foto" src="../assets/images/taller/ford.jpeg" alt="ford">
           <img class="foto" src="../assets/images/taller/jaguar.jpeg" alt="jaguar">
           <img class="foto" src="../assets/images/taller/audi.jpeg" alt="audi">    
   
      </aside>        
    </main>
    <!--Pie de pagina Rss Productos-->
    <footer>
        <img class="logo" src="../assets/images/logotipo/logo.png" alt="logo">         
        <div>
            <h2>Nuestra direccion</h2>  
            <p>Avinguda Joan,0 Encamp AD200 </p>
            <p>Tel:5555-5555</p>                    
            <h3>Nuestras Redes sociales</h3>
            <a href="https://www.instagram.com/"><img class="rss" src="../assets/images/logosrss/instagram.png" alt="instagram"></a>     
            <a href="https://es-la.facebook.com/"><img class="rss" src="../assets/images/logosrss/facebook.png" alt="facebook"></a>   
           <p>Aviso Legal</p>
        </div>
        <img class="logo" src="../assets/images/logotipo/logo.png" alt="logo">                  
    </footer>
    
</body>
</html>